@import "../../styles/_colors";

.pageImage {
  background: url("../../images/home-page-img.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 550px;

  @media (max-width: 1023px) {
    background-position: 50% 25%;
    background-size: 150%;
    height: 350px;
  }
  @media (max-width: 767px) {
    background-position: 50% 20%;
    background-size: 250%;
    height: 250px;
  }
}
