@import "../../styles/_colors";

.pageContent {
  margin: 0;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: justify;

  .title {
    display: block;
    font-size: 32px;
    padding-bottom: 1em;
  }  
}

.videoGroup {
  background-color: $primary-color-fadded;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2.5em;
  padding: 1em;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.videoContainer {
  flex: 1;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin: 1em;
  position: relative;
  border-radius: 10px;

  @media (max-width: 767px) {
    flex: 0 1 auto;
  }
}

.videoContainer iframe {
  border-radius: 10px;
  border-width: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.singleVideo {
  flex: 0 1 800px;
  max-width: 800px;

  @media (max-width: 767px) {
    flex: 0 1 auto;
  }
}
